version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile  # Spécifiez le Dockerfile si nécessaire
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0.31
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: safebase
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
      - ./grant_privileges.sql:/docker-entrypoint-initdb.d/grant_privileges.sql

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: mysql
      PMA_PORT: 3306
      UPLOAD_LIMIT: 20M
    ports:
      - "8081:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
